body, html {
    width: 100%;
    height: 100%;
	margin: 0;
	font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#DFDFDF;
	scroll-behavior: smooth;
}

h1 {
	text-align: center;
}

footer {
	background-color: #333;
	width: 100%;
	padding: 0.1em;
	clear: both;
	bottom: 0;
	position: fixed;
}

footer p {
	text-align: center;
	color: honeydew;
	margin: 0.5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	border: 1px solid #111;
}

li a {
	display: block;
	color: honeydew;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

aside {
	font-style: italic;
}

mark {
	background-color:#333;
	color: #DFDFDF;
}

figure figcaption {
	transform: translateX(-20%);
	padding: 10px;
}

button {
	cursor: pointer;
}

#apartman_i_linkovi {
	position: relative;
	max-width: 100%;
	text-align: center;
}

#apartman_i_linkovi img {
	width: 50%;
	border-radius: 8px;
}

#link_na_galeriju {
	position: absolute;
	top: 10%;
	left: 65%;
	background-color: transparent;
	padding: 0.5em 1em;
	border-radius: 8px;
}

#rezervacija {
	position: fixed;
	background-color: #E8E8E8;
	border-style: ridge;
	border-radius: 8px;
	padding: 15px;
	margin-left: 79.5%;
	transform: translateY(-650px);

}

#opis {
	margin: 0.5em;
}

#vise_o_smjestaju {
	margin: 0.5em;
}

#vise_o_smjestaju ul{
	background-color: #F0F0F0;
}

#vise_o_smjestaju li{
	height: 25px;
	list-style-position: inside;
	border: none;
	padding: 2em;
	
}

.headeri_liste {
	text-align: center;
	width: 6.5em;
	background-color: #E8E8E8;
}

.nabrajanje_liste {
	list-style-type: square;
}

#sadrzaji_u_blizini {
	margin: 0.5em;
}

.galerija img{
	height: 250px;
	width: 325px;
}

.galerija figure {
	width: min-content;
	padding: 0.5em;
	margin: 6em 0.5em 0.5em 1em;
	border-style: ridge;
	border-radius: 8px;
}

#slike_galerija {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#opis_smjestaj_sadrzaji ul {
	display: flex;
	justify-content: center;
	background-color: #DFDFDF;
}

#opis_smjestaj_sadrzaji li {
	border: none;
}

#opis_smjestaj_sadrzaji li a {
	color: #111;
}

#opis_smjestaj_sadrzaji li a:hover {
	background-color: #DFDFDF;
	text-decoration: underline;
}

fieldset {
	width: 50%;
	padding: 25px 0 25px 0;
	margin: auto;
	text-align: center;
}

input, select {
    padding: 10px 10px;
    margin: 8px 8px;
	vertical-align: baseline;
}

#forma2 input, select {
	width: 70px;
}

#forma2 label {
	width: 150px;
}

#forma3 {
	padding-bottom: 50px;
}

#forma3 select {
	width: 200px;
}

#forma3 label {
	width: 150px;
}

label {
	display: inline-block;
	width: 100px;
	text-align: left;
}


#rezultat {
	border: ridge;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0.5em;
	
}

#rezultat_gumb {
	transform: translateY(275%);
}


#ponuda {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 50px ;
}